/***********************
 *      Variables      *
 ***********************/

 /* Fonts */
$font-family-01: 'Montserrat', sans-serif;
$font-family-02: 'Press Start 2P', cursive;

$font-size-09px:  0.563rem;   // 9px
$font-size-10px:  0.625rem;   // 10px
$font-size-12px:  0.75rem;    // 12px
$font-size-13px:  0.8125rem;  // 13px
$font-size-14px:  0.875rem;   // 14px
$font-size-16px:  1rem;       // 16px
$font-size-18px:  1.125rem;   // 18px
$font-size-21px:  1.3125rem;  // 21px
$font-size-23px:  1.4375rem;  // 23px
$font-size-26px:  1.625rem;   // 26px
$font-size-28px:  1.75rem;    // 28px
$font-size-32px:  2rem;       // 32px
$font-size-56px:  3.5rem;     // 56px


/* Breakpoints */
$breakpoint-max-mobile:      480px;
$breakpoint-min-tablet:      481px;
$breakpoint-max-tablet:      768px;
$breakpoint-min-desktop:     769px;
$breakpoint-max-desktop:     991px;
$breakpoint-min-desktop-lg:  992px;
$breakpoint-min-desktop-xl:  1024px;


/* Colors */
$black: #000;
$dark-gray: #161616;
$gray: #595959;
$light-gray: #919191;
$very-light-gray: #bdbbbb;
$white: #fff;

//$accent-color-01: #34b37a;
$accent-color-01: #32835A;
$accent-color-02: #8484ff;
$accent-color-03: #e560b2;

$veil-color: rgba(0, 0, 0, 0.5);
$veil-light-color: rgba(255, 255, 255, 0.8);


/* Main/light theme */
$palette-color-01: #ffd6dd;  // light pink
$palette-color-02: #cdaaf1;  // purple
$palette-color-03: #403f4c;  // dark gray
$palette-color-04: #f0e088;  // darker creamy light yellow
$palette-color-05: #ac6bee;  // darker purple
$palette-color-06: #ffa3b2;  // darker pink

$light-color: rgb(255, 252, 236);  // main light color
$dark-color: #3d3d3d;              // main dark color

$font-color-01: $black;
$font-color-02: $white;


/* Components */
$alertbox-background-color: #fff4d6;
$alertbox-shadow-color: #ffe09a;

$header-logo-color: #f78caf;

$footer-background-color: rgb(128, 79, 177);

$scrolltotopbutton-background-color: #99ffd1;
$scrolltotopbutton-shadow-color: #5dd59f;

$smallwindow-bootstrap-color: #553c7b;
$smallwindow-javascript-color: #ffb310;
$smallwindow-jquery-color: #0868ac;
$smallwindow-react-color: #61dbfb;
$smallwindow-tailwind-color: #0096d6;

$speechbubble-border: 0 -4px $white, 
                      0 -8px $black, 
                      4px 0 $white, 
                      4px -4px $black, 
                      8px 0 $black, 
                      0 4px $white, 
                      0 8px $black, 
                      -4px 0 $white, 
                      -4px  4px $black, 
                      -8px 0 $black, 
                      -4px -4px $black, 
                      4px 4px $black;
$speechbubble-shadow-color: rgba(0, 0, 0, 0.1);


/* Pages */
$contact-linkedin-color: #0077b5;
$contact-instagram-color-01: #d6249f;
$contact-instagram-color-02: #fdf497;
$contact-instagram-color-03: #fd5949;
$contact-instagram-color-04: #285AEB;
$contact-tiktok-color-01: #00eae4;
$contact-tiktok-color-02: #f7004c;
