
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');
@import 'mixins.scss';


/***********************
 *      Variables      *
 ***********************/

/* Main/light theme */
$palette-color-01: #ffd6dd;  // light pink
$palette-color-02: #fbfbdb;  // creamy light yellow
$palette-color-03: #cdaaf1;  // purple
$palette-color-04: #403f4c;  // dark grey
$palette-color-05: #595959;  // grey

$palette-color-06: #ffa3b2;  // darker pink
$palette-color-07: #f0e088;  // darker creamy light yellow
$palette-color-08: #b680ec;  // darker purple

$white: rgba(255, 252, 236); // main light color
$black: #3d3d3d;             // main dark color


/* Dark theme */


/* Colors */
$font-color-01: #000;
$font-color-02: #fff;

$headline-h1-color: #161616;
$headline-h2-color: $headline-h1-color;
$headline-h3-color: $headline-h1-color;

$accent-color-01: #41b883;
$accent-color-02: #ffb310;
$accent-color-03: #8484ff;
$accent-color-04: #0096d6;
$accent-color-05: #e560b2;
$accent-color-06: #0868ac;


/* Fonts */
$font-family-01: 'Montserrat', sans-serif;
$font-family-02: 'Press Start 2P', cursive;

$font-size-08px:  0.5rem;     // 8px
$font-size-09px:  0.563rem;   // 9px
$font-size-10px:  0.625rem;   // 10px
$font-size-12px:  0.75rem;    // 12px
$font-size-13px:  0.8125rem;  // 13px
$font-size-14px:  0.875rem;   // 14px
$font-size-16px:  1rem;       // 16px
$font-size-18px:  1.125rem;   // 18px
$font-size-21px:  1.3125rem;  // 21px
$font-size-23px:  1.4375rem;  // 23px
$font-size-24px:  1.5rem;     // 24px
$font-size-26px:  1.625rem;   // 26px
$font-size-28px:  1.75rem;    // 28px
$font-size-32px:  2rem;       // 32px
$font-size-56px:  3.5rem;     // 56px
$font-size-80px:  5rem;       // 80px
$font-size-100px: 6.25rem;    // 100px
$font-size-150px: 9.375rem;   // 150px


/* Breakpoints */
$breakpoint-max-mobile:      480px;
$breakpoint-min-tablet:      481px;
$breakpoint-max-tablet:      768px;
$breakpoint-min-desktop:     769px;
$breakpoint-min-desktop-lg:  992px;
$breakpoint-min-desktop-xl:  1024px;



/***********************************************************
*   Resets (https://andy-bell.co.uk/a-modern-css-reset/)  *
***********************************************************/

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, picture {
    margin: 0;
}

/* Font weight */
h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {
    list-style: none;
}

html {
    overflow-x: auto;
    overflow-y: scroll;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    min-height: 100%;
    // overflow-x: hidden;
    padding: 0;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    width: 100%;
}

/* Make images easier to work with */
img, picture {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within { scroll-behavior: auto; }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}



/**********************************
*   Utility Classes and Styles   *
**********************************/

/* Accessibility screen readers (TailwindCSS) */
.sr-only {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    background-color: $white;
    color: $font-color-01;
    font-family: $font-family-01;
    font-size: $font-size-16px;
    // min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    width: 100%;
}


/* Pages */
#app {
    min-height: calc(100vh - 2rem);
    position: relative;

    @media (min-width: $breakpoint-min-desktop) { min-height: calc(100vh - 3rem); } // minus footers height
}

.page-container {
    margin: 4rem auto 0 auto;
    max-width: 1140px;
    //min-height: 100vh;
    padding: 0 1.2rem 8rem 1.2rem;

    @media (orientation: landscape) { margin: 2rem auto 0 auto; }

    @media (min-width: $breakpoint-min-tablet) { padding: 0 1rem 10rem 1rem; }
}



/* Headings, Texts */

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-02;
    letter-spacing: 2px;
    width: fit-content;
}

h1 {
    color: $headline-h1-color;
    font-size: $font-size-23px;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 5px 5px 2px $palette-color-06;

    @media (min-width: $breakpoint-min-tablet) { font-size: $font-size-28px; }
}

h2 {
    color: $headline-h2-color;
    font-size: $font-size-18px;
    line-height: 1.7;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-shadow: 5px 5px 2px $palette-color-07;

    @media (min-width: $breakpoint-min-tablet) { font-size: $font-size-21px; }
    @media (max-width: $breakpoint-max-tablet) { text-align: center; }
    @media (min-width: $breakpoint-min-desktop) { margin-top: 6rem; }
}

h3 {
    color: $headline-h3-color;
    font-size: $font-size-16px;
    line-height: 1.7;
    text-shadow: 5px 5px 2px $palette-color-08;

    @media (min-width: $breakpoint-min-tablet) { font-size: $font-size-18px; }
}

p {
    color: $font-color-01;

    &.primary-text {
        font-size: $font-size-18px;
        margin: 0 auto 4rem auto;
        text-align: center;

        @media (min-width: $breakpoint-min-tablet) { max-width: 600px; }
    }

    &.secondary-text {
        font-size: $font-size-18px;
        margin-bottom: 3rem;
        padding: 0 12px;

        @media (min-width: $breakpoint-min-tablet) { max-width: 700px; }

        @media (max-width: $breakpoint-max-tablet) {
            margin: 0 auto 1rem auto;
            max-width: 600px;
            text-align: center;
        }
    }
}

span { color: $font-color-01; }

article {
    display: inline-block;
    width: 100%;
}

b, strong { font-weight: 600; }

.text-bold { font-weight: 600; }

.text-underlined { text-decoration: underline; }

.font-family-02 { font-family: $font-family-02; }

.accent-01 { color: $accent-color-01; }

.uppercase { text-transform: uppercase; }

a { color: $accent-color-05;}


::selection { background-color: $palette-color-06; }

// TODO: unify
.no-scroll { overflow: hidden; }
.scroll-blocked { overflow: hidden; }

 
.desktop {
    @media (max-width: $breakpoint-max-tablet) { display: none; }
    @media (min-width: $breakpoint-min-desktop) { display: block; }
}
.mobile {
    @media (max-width: $breakpoint-max-tablet) { display: block; }
    @media (min-width: $breakpoint-min-desktop) { display: none; }
} 

.desktop-flex {
    @media (max-width: $breakpoint-max-tablet) { display: none; }
    @media (min-width: $breakpoint-min-desktop) { display: flex; }
}
.mobile-flex {
    @media (max-width: $breakpoint-max-tablet) { display: flex; }
    @media (min-width: $breakpoint-min-desktop) { display: none; }
} 



/*************************
 *     Windows Base      *
 *************************/
.window {
    background-color: $palette-color-01;
    border: 1px solid $palette-color-04;
    border-radius: 5px;
    box-shadow: 8px 9px 4px #bdbbbb;
    min-width: 0;
}

.window__inner-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window__bar {
    background-color: $palette-color-03;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.2rem 0.3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .window__bar-title {
        color: $font-color-02;
        font-family: $font-family-02;
        font-size: $font-size-14px;
        letter-spacing: 0.05rem;
        line-height: 1.8;
        overflow: hidden;
        padding: 0 0.2rem;
        text-overflow: ellipsis;
        text-shadow: 1px 1px 3px #4d4d4d;
        white-space: nowrap;
    }
}

.window__bar-buttons {
    cursor: pointer;
    position: relative;
    
    &:active:not(.disabled-button) {
        transform: translateY(2px);

        span { box-shadow: none; }
    }

    &.disabled-button {
        span {
            box-shadow: none;
            opacity: 0.5;
            pointer-events: none;
        }  
    }
}

.window__bar-buttons span, .window__bar-button {
    background-color: $palette-color-01;
    border: 1px solid $palette-color-04;
    border-radius: 2px;
    box-shadow: 2px 2px 0px #919191;
    color: $font-color-01;
    font-family: $font-family-01;
    padding: 0 0.3rem;
    user-select: none;
}

.window__image {
    border-style: inset;
    overflow: hidden;
    user-select: none;

    display: flex;
    align-items: flex-start;

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

/*************************
 *     Buttons Base      *
 *************************/
.os-button {
    background-color: #ffd6dd;
    border: 1px solid $palette-color-04;
    border-radius: 2px;
    box-shadow: 2px 2px 0px #919191;
    color: $palette-color-04;
    display: block;
    margin: 0 1rem;
    padding: 0.2rem;

    .os-button__button {
        background-color: #ffd6dd;
        border: 1px dashed $palette-color-04;
        cursor: pointer;
        height: 100%;
        padding: 0 2rem;
        width: 100%;

        span {
            display: block;
            user-select: none;

            &:first-letter { text-decoration: underline; }
        }   
    }

    &:active {
        box-shadow: none;
        transform: translateY(2px);
    }

    &.disabled-button {
        box-shadow: none;
        opacity: 0.5;
        pointer-events: none;
    }
}
  
 
 
 /*************************
  *       Animations      *
  *************************/
// Animate element scaling up while rotating 
.fade-up-rotate-enter-from, .fade-up-rotate-leave-to {
    transform: scale(0) rotate(180deg);
    opacity: 0;
}
.fade-up-rotate-enter-active, .fade-up-rotate-leave-active {
    transition: all 900ms ease-in;
    transition-delay: 500ms;
}

// Animate text from top to bottom
.text-to-bottom-enter-from, .text-to-bottom-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}
.text-to-bottom-enter-active, .text-to-bottom-leave-active {
    transition: all 800ms ease-in;
    transition-delay: 500ms;
}

// Animate element scaling up
.scale-up-enter-from, .scale-up-leave-to {
    opacity: 0;
    transform: scale(0);
}
.scale-up-enter-active, .scale-up-leave-active {
    transition: all 850ms ease-in;
    transition-delay: 500ms;
}

.typewriter-effect {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    // border-right: .15em solid orange;
    white-space: nowrap; /* Keeps the content on a single line */
    margin-inline-start: auto; /* Gives that scrolling effect as the typing happens */
    margin-inline-end: auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 1.2s steps(50, end);
            //    blink-caret .75s step-end infinite;

    @media (min-width: $breakpoint-min-tablet) { animation: typing 3s steps(50, end); }
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
// @keyframes blink-caret {
//     from, to { border-color: transparent }
//     50% { border-color: orange; }
// }


 /*************************
  *       Pixel Art       *
  *************************/
